@model AboutModel.PageViewModel

<main class="page">
    <article class="container lg">
        <h1 class="title lg page-title">@Html.Raw(Model.PageTitle)</h1>        
        <div class="text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet massa non magna pharetra dignissim nec ac massa. Sed viverra nibh non tortor malesuada varius. Vivamus posuere vitae sem et vulputate. Donec hendrerit vulputate ex, non ultricies ex gravida quis. Suspendisse nibh nulla, ultrices quis sapien eget, facilisis blandit justo. Integer eu enim bibendum, fringilla dolor et, lobortis lorem. Cras a tristique mi. Nullam non bibendum massa. Donec ut consectetur lectus. Nam auctor cursus orci, quis rutrum quam aliquam quis. Nunc sagittis turpis ac nisl feugiat faucibus. Integer arcu risus, condimentum ut porta nec, gravida et nisl.
            </p>
            <p>
                Integer et justo ut erat ornare tempor. Maecenas ante nunc, tristique vel erat vel, euismod ultrices nunc. Donec sed accumsan urna. Duis non orci gravida, tincidunt turpis quis, eleifend nisi. Suspendisse a suscipit risus. Vestibulum auctor risus et mattis congue. Nulla tincidunt neque et risus tempus, quis bibendum felis placerat. Nam accumsan porta libero nec pharetra. Maecenas elit dui, vulputate ac eleifend et, fermentum ac leo.
            </p>
            <p>
                Mauris nibh leo, hendrerit ac justo at, sodales aliquam orci. Donec dolor ligula, tristique nec pretium eu, faucibus quis magna. In interdum lorem et orci lobortis, id tempus lacus blandit. Donec elementum enim eget lacus porttitor gravida. Vivamus sit amet efficitur lacus. Aliquam erat volutpat. Pellentesque in dictum eros. Sed et vestibulum magna. Fusce dignissim sapien iaculis, elementum erat pharetra, mollis est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer metus felis, dapibus eget pharetra ac, convallis at urna. Nam tempor tristique dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            </p>
            <p>
                Pellentesque tempus risus vulputate, vestibulum massa at, commodo dolor. Pellentesque consequat risus a pretium consectetur. Sed quis pharetra lacus. Curabitur a orci suscipit, sagittis magna a, volutpat velit. Vestibulum nec nulla vitae ipsum placerat lacinia in eu massa. Mauris augue libero, lobortis at mi sed, maximus tempus neque. Curabitur laoreet interdum mattis. Nulla facilisi. Suspendisse scelerisque nisi varius libero pellentesque auctor. Sed accumsan consequat placerat. Proin rhoncus velit efficitur, auctor felis non, dapibus neque. Nunc ac rutrum ante. Maecenas nulla augue, interdum sit amet turpis quis, viverra hendrerit risus.
            </p>
        </div>
    </article>
</main>
