@model ProductsGridModel.PageViewModel
@section HeaderSection{
    @Html.DevExpress().GetStyleSheets(new StyleSheet { ExtensionSuite = ExtensionSuite.GridView })
    @Html.DevExpress().GetScripts(new Script { ExtensionSuite = ExtensionSuite.GridView })
}
@if (Model.ShowAddNewButton)
{
    <div class="actions-row">
        <button class="btn btn-oval btn-default js-add-new-button"><i class="fa fa-plus"></i> Add</button>
    </div>
}
@if (Model.ShowGrid)
{
    <div class="row">
        <div class="col-lg-12">
            @Html.Partial(ViewNames.Admin.Shared.DevexpressGrid, Model.Grid)
        </div>
    </div>
}

@section FooterSection{
<script src="~/Areas/Admin/Content/Scripts/Products/ProductsGrid.js"></script>
}